doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ user ? user.name : 'Homepage'}
  body
    h1 Welcome to Twitter!
    p The new way to share your opinions with others from all around the world!
    block content 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>